.row {
    margin-left: 20px;
    margin-right: 20px;
}

.no-padding {
    padding: 0px !important;
}

body {
    background-color: black;
    color: gray;
}

.footer {
    position: fixed;
    bottom: 0vh;
    font-size: 0.75em;
    background-color: black;
    width: 100%;
    text-align: right;
}

.footer p {
    margin-right: 4vw;
    margin-bottom: 1vh;
}

.footer p a {
    color: #b27609;
}

.footer p a:hover {
    color: #eca21c;
    text-decoration: none;
}

.left-pills {
    margin-top: 20vh;
}

.nav-link.active {
    background-color: #eca21c !important;
    color: white;
}

.nav-link {
    color: #eca21c;
}

.nav-link:hover {
    color: white;
}

body, div, html, ul, p, li, a {
    font-family: 'Verdana' !important;
}

.filter-beer, .filter-beer:focus {
    background-color: black;
    color: #eca21c;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #b27609;
    outline: none;
}

.filter-beer::placeholder {
    color: #6b4a0e;
}

.custom-select {
    background-color: black;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #b27609;
    outline: none;
    color: #b27609;
}

.my-table {
    background-color: black;
    font-size: 2vh;
}

.my-table thead {
    color: #b27609;
}

.my-table.table td {
    border:none;
    border-radius: 0;
}

.my-table.table th {
    border:none;
    border-radius: 0;
    border-bottom: 2px solid #b27609;
}

.gold {
    background-color: gold;
    color: black;
}

.silver {
    background-color: silver;
    color: black;
}

.bronze {
    background-color: #cd7f32;
    color: black;
}

.all-star {
    color: darkred;
}

.hide-me {
    display: none;
}

.analytics-buttons {

}

.btn-warning {
    background-color: #eca21c !important;
    color: white !important;
}

a.link {
    color: #eca21c;
    text-decoration: underline;
}

a.link:hover {
    color: #6b4a0e;
}

.icon-right {
    right: 5px;
    position: absolute;
    bottom: 12px;
    color: #6b4a0e;
}

#rating-diagram {
    margin-bottom: 60px;
    height: 400px;
}

.row-padding-20 {
    padding-bottom: 20px;
}

.map-header {
    margin-top: 120px;
    margin-bottom: 50px;
}

.map-header:first-of-type {
    margin-top: 0px;
}

#style-avg-word-map, #company-word-cloud, #company-word-cloud-frequency {
    border: 3px solid #eca21c;
    margin-bottom: 40px;
}